    * {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
    }

    .head {
      position: relative;
      height: 100px;
    }



    #resp {
      display: flex;
    }

    .hrow {
      float: right;
      position: absolute;
      right: 150px;
      top: 36px;
      cursor: pointer;
      font-weight: 700;

    }

    .linkp {
      text-decoration: none;
      color: rgb(54, 54, 54);
    }



    #darkLightModebtn {
      height: 20px;
      /* margin: 10px; */
      padding: 6px 0px 6px 0px;
      padding-right: -7px;
      cursor: pointer;
      background-color: rgb(0, 101, 252);
      position: absolute;
      /* float: right; */
      right: 75px;
      top: 30px;
      width: 67px;
      /* padding-top: 5px; */
      border-radius: 19px;
    }

    .topnav a.active {
      color: rgb(0, 101, 252);
      font-weight: 900;
    }

    hr {
      height: 3px;
      background-color: #d3d0d0;
      border: none;
      position: relative;
      top: 8px;
    }

    .nav {
      padding-top: 20px;
      display: inline;

    }

    #navlist {
      display: flex;
      list-style-type: none;
      padding: 35px 0px 0px 0px;
    }


    .nav ul li {
      display: flex;
      margin-left: 35px;
      cursor: pointer;
    }

    .nav ul li img {
      height: 25px;
      margin: 5px;
      align-items: center;
      cursor: pointer;
    }

    .nhead {
      margin-top: 9px;
      margin-left: 3px;

    }

    span hr {
      height: 5px;
      background-color: #e9e6e6;
      border: none;
      width: 95%;
    }

    #backBtn {

      padding: 8px;
      width: 118px;
      height: 37px;
      border-radius: 8px;
      background: rgb(0, 101, 252);
      font-weight: 900;
      color: white;
      border-style: none;
    }

    #backArrow {
      width: 15px;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    #BackbtnMain {
      padding-top: 35px;
      margin-left: 34px;
    }

    .subcon {

      border: 1px solid rgb(131, 131, 131);
      border-radius: 8px;
      margin-top: 16px;
      width: 97%;
      display: flex;
      /* justify-content: center; */
      align-items: center;
    }

    #SubCon {}

    /* STart Media Queries */
    @media screen and (max-width: 600px) {
      .topnav a:not(:first-child) {
        display: none;
      }

      .topnav {
        /* float: right; */
        display: block;
      }

    }

    @media screen and (max-width: 810px) {
      .hrow {
        display: none;
      }

    }

    @media screen and (max-width: 660px) {
      #darkLightModebtn {
        position: relative;
        top: 4px;
        margin-left: 84px;
        width: 67px;
        height: 18px;
      }

      #navlist {
        justify-content: center;
        margin-left: -62px;
      }

      #resp {
        justify-content: center !;
      }
    }